<% html_title l(:label_ez_kanban) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'ez_kanban', plugin: 'redmine_ez_kanban' %>
<% end %>

<h2><%= l(:label_ez_kanban) %></h2>

<%= render partial: 'filters' %>

<%# Active parent scope (R3): show what the board is scoped to and a control to
    clear it, returning to the full flat board while keeping the other URL
    params (active query/filter, subproject toggle). %>
<% if @scope_issue %>
  <div class="ez-kanban-scope">
    <span class="ez-kanban-scope__label">
      <%= l(:label_ez_kanban_scoped_to, subject: @scope_issue.subject) %>
    </span>
    <%= link_to l(:button_ez_kanban_clear_scope),
                project_ez_kanban_path(@project, request.query_parameters.except('scope_issue_id')),
                class: 'ez-kanban-scope__clear icon icon-del' %>
  </div>
<% end %>

<% if @over_cap %>
  <div class="flash warning ez-kanban-over-cap">
    <%= l(:text_ez_kanban_over_cap, count: @render_cap) %>
  </div>
<% end %>

<div class="ez-kanban-board">
  <% @columns.each do |column| %>
    <% over_wip = @highlight_wip && column.over_wip? %>
    <section class="ez-kanban-column<%= ' ez-kanban-column--over-wip' if over_wip %>"
             data-column-key="<%= column.key %>">
      <header class="ez-kanban-column__header">
        <span class="ez-kanban-column__title"><%= column.name %></span>
        <span class="ez-kanban-column__count"<%= ' title=' + l(:label_ez_kanban_wip_over).inspect if over_wip %>><%= column.wip_count %><% if column.wip_limit %> / <%= column.wip_limit %><% end %></span>
      </header>

      <div class="ez-kanban-column__cards">
        <%= render partial: 'card', collection: column.cards, as: :issue,
                   locals: { ancestry: @ancestry } %>
      </div>
    </section>
  <% end %>
</div>
